html{
  font-family:"Source Sans Pro", "Helvetica", "Arial", "sans-serif";
  color:$dark;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5{
  font-family:"Avenir Next", "Avenir", "Helvetica Neue", "Source Sans Pro", "Arial", "sans-serif";
  font-weight:600;
}
