h4{
  font-size:40px;
  line-height:50px;
  position:relative;
  margin-bottom:40px;
  margin-top:-8px;
  &:after{
    content:"";
    position:absolute;
    left:0;
    bottom:-15px;
    margin-top:0px;
    height:4px;
    width:30px;
    display:block;
    background-color:$blue;
  }
}

h5{
  font-size:20px;
  margin-bottom:10px;
}